.DS_Store
*.swp
*.rej
*.orig
*~

# Test and development data
data/client/*
data/repository/*
/data/etc/pulldeploy.yaml
/data/etc/pulldeploy.d/*

# Generated artifacts
/build/
/pdconfig/versioninfo.go
